{"filter":false,"title":"master.ucf","tooltip":"/verilog/master.ucf","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":278,"column":0},"end":{"row":278,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1436474546000,"hash":"4069b0dca4351c2214f608bde3f0f76b3c684026"}